@model WebApplication26.Models.FacultyDetail
@using Microsoft.AspNetCore.Http;

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create1</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body style="color: white;background-image: linear-gradient(pink, lightblue,white);margin: 0px 15px 10px 15px;">
    <nav class=" navbar-dark "style="background-color: #e44157;border-radius: 14px;">
        <div class="ml-5 mr-5 ">

            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"></a>

            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse ">
                <ul class="navbar-nav flex-grow-1">

                    <li class="nav-item">
                        <a class="nav-link text-light   text-wrap text-uppercase h1 navigation" style="padding:5px;margin:8px; " asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>


                </ul>
                @*@if (@Context.Session.GetString("Type") !="")
                        {
                <div>
                    <button class="logout" onclick="location.href='@Url.Action("Logout", "Login")'">Logout</button>
                </div>
                }*@
            </div>

        </div>



    </nav>

    <h1 style="color:black" class="text-center">Create Faculty Account</h1>


    <hr />

    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row m-5">
            <div class="col-md-6 p-5" style="background-color:#0e0e38;">
                <div class="form-group">
                    <label asp-for="FacultyId" class="control-label"></label>
                    <input asp-for="FacultyId" class="form-control" />
                    <span asp-validation-for="FacultyId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FirstName" class="control-label"></label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LastName" class="control-label"></label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DateOfBirth" class="control-label"></label>
                    <input asp-for="DateOfBirth" type="date" id="dob" onblur="blurFunction()" class="form-control" />
                    <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Address" class="control-label"></label>
                    <input asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
            </div>
            <div class="col-sm-6 p-5" style="background-color:#0e0e38;">
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Contact" class="control-label"></label>
                    <input asp-for="Contact" class="form-control" />
                    <span asp-validation-for="Contact" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Pswd" class="control-label"></label>
                    <input asp-for="Pswd" id="Pswd" type="password" class="form-control" />
                    <span asp-validation-for="Pswd" class="text-danger"></span>
                    <input type="checkbox" onclick="myFunction()">Show Password
                </div>
                <div class="form-group">
                    <label asp-for="FkDeptId" class="control-label"></label>
                    <select asp-for="FkDeptId" class="form-control" asp-items="ViewBag.FkDeptId"></select>
                </div>
                <div class="form-group">
                    <label asp-for="FatherName" class="control-label"></label>
                    <input asp-for="FatherName" class="form-control" />
                    <span asp-validation-for="FatherName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </form>




    <div>
        <a asp-action="Index">Back </a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
    <script>
        function myFunction1() {
            alert("Please wait till admin approves your account");
        }
    </script>
    <script>
        function myFunction() {
            var x = document.getElementById("Pswd");
            if (x.type === "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }
        }
    </script>
    <script>
        function blurFunction() {

            //var a = document.getElementById("#dob").Date;
            var b = Date.now();
            year = $('#dob').getFullYear();
            alert(year);
            alert(b.getFullYear());
            if ((b.getFullYear() - year) > 18) {

                alert("Age Can't be less than 18");
            }
        }

    </script>
</body>
</html>
